<nav class="navbar px-3 navbar-expand-md customNav">
  <a href="/" class="navbar-brand">
    <img src="/assets/logo.png" alt="Dragão Caolho">
  </a>

  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/articles">Postagens</a>
    </li>
  </ul>
</nav>